<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="container-fluid">
     <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 text-center pt-5 pb-5">
        <form >
          <div class="form-group">
            <img src="https://www.logolynx.com/images/logolynx/e2/e2861b0bf040ce1f178da0530afce9ed.png" alt="" class="logo">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item p-0 m-0">
                  <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="gif.query" name="query">
                </li>
                <li class="list-inline-item p-0 m-0">
                  <div class="btn btn-success btn-lg" (click)="search();">
                     <i class="fas fa-search"></i>
                  </div>
                </li>
              </ul>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
     <div class="row pb-5">
      <div *ngFor="let item of img" class="col-12 col-md-3 p-0">
          <img src="{{item.images.downsized_medium.url}}" alt="">
        
      </div>
    </div>
  </div>
</section>


<router-outlet></router-outlet>