img{
	width: 100%;
	height: 100%;
}

form{
	.logo{
		width: 150px;
	}
	input{
		height: 50px;
		border-top-right-radius: 0px; 
		border-bottom-right-radius: 0px; 
	}
	.btn{
		height: 50px;
		border-top-left-radius: 0px; 
		border-bottom-left-radius: 0px; 
	}
}